<div id="site-banner" class="site-banner enable-slider">
  <div class="site-banner-inner">
    {% set slides = site.slider %}
    {% set show_category_slides = false %}
    {% if page.header.slider is not empty%}
      {% set slides = page.header.slider %}
    {% endif %}
    {% for slide in slides %}
      {% if grav.uri.params("category", true) in slide.category %}
        {% set show_category_slides = true %}
      {% endif %}
    {% endfor %}
    {% for slide in slides %}
      {% if ( grav.uri.params("category", true) in slide.category ) and show_category_slides == true  %}
        {% block slider_item_category %}
          {% include 'partials/slider_item.html.twig' %}
        {% endblock %}
      {% elseif show_category_slides == false and slide.category is empty  %}
        {% block slider_item %}
          {% include 'partials/slider_item.html.twig' %}
        {% endblock %}
      {% endif %}
    {% endfor %}
  </div>
</div>
